@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap') ;

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: 'Poppins', sans-serif;
    color: antiquewhite;
}

.illustration
{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.imgHeader
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    position: absolute;

}

nav
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    background: linear-gradient(to top, transparent, #000);
    backdrop-filter: blur(5px);
}
.navbarLogo
{
    font-weight: 600;
    text-decoration: none;
    font-size: 2rem;
}
.navbarLogo a
{
    color: #fff;
}
.navbarlink
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}
.link
{
    list-style: none;
}
.link a
{
    text-decoration: none;
    padding: 6px 15px;
    color: rgb(255, 255, 255);
    border-radius: 20px;
}
.link a:hover
{
    background: rgb(27, 23, 21);
    color: rgb(199, 162, 4);
    transition: 0.3s ease-in-out;
    backdrop-filter: blur(5px);
}
.presentation
{
    position: relative;
    background-color: #14101b;
    display: flex;
    justify-content: center;
}
h1 {
    bottom: 0;
    position: absolute;
    font-size: 3.5rem;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    padding-bottom: 50px;
    text-align: center;
}

h1>span {
    color: rgb(255, 204, 0);
    font-size: 3.5rem;
}
.container_reservation form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background: #000000;
    padding: 100px;


}
.input-box
{
    flex: 1 1 7rem;
    display: flex;
    flex-direction: column;
}
input-box span
{
    font-weight: 500;
}
.container_reservation form .btn
{
    flex: 1 1 7rem;
    padding: 10px 35px;
    border: none;
    border-radius: 3.5rem;
    background: rgb(255, 204, 0);
    color: #000000;
    font-size: 1rem;
    font-weight: 500;
}
.easy_step::before{
}
.easy_step {
    background: rgb(40, 32, 41);
}
.tree_easy_steps {
    text-align: center;
    padding-top: 75px;
}
.tree_easy_steps span {
    font-weight: 500;
    text-transform: uppercase;
}
.tree_easy_steps h2 {
    font-size: 2rem;
}
.easy_container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px,auto));
    gap: 1rem;
    margin-top: 2rem;
}
.easy_container .box {
    text-align: center;
    padding: 20px;
}
.easy_container .box .img_box {
    height: 150px;
}