@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap') ;

html {
    scroll-behavior: smooth;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: 'Poppins', sans-serif;
    color: antiquewhite;
    background: rgb(33, 27, 39);
}


/* ---------- Navbar ---------- */

nav
{
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    background: linear-gradient(to top, transparent, #000);
    backdrop-filter: blur(5px);
}
.navbarLogo
{
    font-weight: 600;
    text-decoration: none;
    font-size: 2rem;
}
.navbarLogo a
{
    color: #fff;
}
.navbarlink
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}
.navbarlink .link
{
    list-style: none;
}
.navbarlink .link a
{
    text-decoration: none;
    padding: 6px 15px;
    color: rgb(255, 255, 255);
    border-radius: 20px;
}
.connexion_link {
    background-color: rgb(199, 162, 4);
    padding: 6px 15px;
    border-radius: 20px;
}
.navbarlink .link a:hover
{
    background: rgb(31, 25, 31);
    color: rgb(199, 162, 4);
    transition: 0.3s ease-in-out;
    backdrop-filter: blur(5px);
}

.checkbtn {
    display: none;
    cursor: pointer;
    filter: invert(100%);
}

.checkbtn img {
    width: 24px;
    height: 24px;
}

#check {
    display: none;
}

#check:checked ~ .checkbtn {
    display: none;
}

.sidebar {
    position: fixed;
    right: -250px;
    width: 250px;
    top: 0;
    bottom: 0;
    background: linear-gradient(to top, transparent, #000);
    transition: right 0.3s;
    padding-top: 60px;
    height: 100vh;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    text-align: center;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

#check:checked ~ .sidebar {
    right: 0;
}

#check:checked ~ .checkbtn img {
    display: none;
}

/* ---------- Présentation ---------- */

.presentation
{
    position: relative;
    background-color: #14101b;
    display: flex;
    justify-content: center;
}
.illustration
{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.imgHeader
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    position: absolute;
}
h1 {
    z-index: 1;
    bottom: 0;
    position: absolute;
    font-size: 3.5rem;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    padding-bottom: 50px;
    text-align: center;
}

h1>span {
    color: rgb(255, 204, 0);
    font-size: 3.5rem;
}
.container_reservation::before {
    content: " ";
    height: 100px;
    background: linear-gradient(to top, rgb(30, 20, 29), transparent);
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}
.container_reservation form {

    background: linear-gradient(to top, rgb(33, 27, 39), #000000, rgb(30, 20, 29));
    height: 400px;
    padding: 100px;
}
.wrapper{
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.input-box
{
    flex: 1 ;
    display: flex;
    flex-direction: column;
}
.input-box label {
    display: block;
    margin-bottom: 5px;
    color: antiquewhite;
}
.input-box input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: rgb(31, 25, 31);
    color: white;
    font-size: 1rem;
}
#location {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: rgb(31, 25, 31);
    color: white;
    font-size: 1rem;
}
.btn_reservation {
    margin-top: 1rem;
    width: 100%;
     padding: 10px 35px;
    border: none;
    border-radius: 3.5rem;
    background: rgb(255, 204, 0);
    color: #000000;
    font-size: 1rem;
    font-weight: 500;
}

/* ---------- A propos de nous ---------- */
.easy_step {
    background: rgb(33, 27, 39);
}
.tree_easy_steps {
    text-align: center;
    padding-top: 75px;
}
.tree_easy_steps p {
    font-weight: 500;
    text-transform: uppercase;
}
.tree_easy_steps h2 {
    font-size: 2rem;
}
.easy_container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px,auto));
    gap: 1rem;
    margin-top: 3rem;
}
.box {
    text-align: center;
    padding: 50px;
}
.img_box{
    height: 100px;
    background: transparent;
    border-radius: 0.5rem;
    margin-bottom: 18px;
}
.img_box:hover {
    transform: scale(1.35);
    transition: transform 0.3s ease-in-out;
}

/* ---------- Types de location ---------- */

.type {
    background: rgb(33, 27, 39);
    padding-top: 75px;
}
.top_type h2 {
    font-size: 2rem;
    text-align: center;
}
.type_conteneur {
    display: flex;
    justify-content: center;
}
.type_conteneur .box_type {
    padding: 50px 30px 40px 30px;
}
.type_conteneur .box_type h3 {
    font-weight: bold;
    font-size: 1.1rem;
    text-align: center;
}
.type_conteneur .box_type img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 0.8rem;
    margin-top: 50px;
}
.type_conteneur .box_type img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}
.type_conteneur .box_type h3 {
    font-weight: bold;
    font-size: 1.1rem;
    text-align: center;
}

/* ---------- Avis clients ---------- */

.avis {
    background: linear-gradient(to top, #000000, rgb(33, 27, 39));
}
.top_avis {
    text-align: center;
    padding-top: 100px;
}
.top_avis h2 {
    font-size: 2rem;
}
.avis_conteneur {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 1rem;
    margin-top: 75px;
    text-align: center;
}
.box_avis {
    justify-content: center;
    margin-left: 55px;
    margin-right: 40px;
}
.box_avis h3 {
    color: rgb(199, 162, 4);
}
.box_avis p {
    margin-top: 15px;
}

/* ---------- Vidéo ---------- */

.video {
    text-align: center;
    background-color: #000000;
    padding-top: 75px;
}
.video_presentation h2 {
    font-size: 2rem;
}
.video video {
    align-content: center;
    height: 500px;
    margin-top: 75px;
}

/* ---------- Footer ---------- */

.footer {
    background-color: rgb(33, 27, 39);
    text-align: center;
    padding: 20px 0;
}
.footer h2 {
    text-align: center;
}
.footerlink {
    display: inline-block;
    padding: 0;
    margin: 0;
}
.footerlink .link  {
    display: inline-block;
    margin: 20px 10px;
}
.footerlink .link a {
    text-align: center;
    text-decoration: none;
    color: rgb(199, 162, 4);
}
.footer p{
    text-align: center;
    margin-top: 20px;
}

/* ---------- Footer citadines et voitures de luxe ---------- */


.footers {
    background-color: #000000;
    text-align: center;
    padding: 20px 0;
}
.footers h2 {
    text-align: center;
}
.footerlinks {
    display: inline-block;
    padding: 0;
    margin: 0;
}
.footerlinks .link  {
    display: inline-block;
    margin: 20px 10px;
}
.footerlinks .link a {
    text-align: center;
    text-decoration: none;
    color: rgb(199, 162, 4);
}
.footers p{
    text-align: center;
    margin-top: 20px;
}

/* ---------- Citadines ---------- */

.service {
    text-align: center;
    padding-top: 175px;
}
.top h2 {
    font-size: 2rem;
}
.top p {
    font-weight: 500;
    text-transform: uppercase;
}
.service_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,auto));
    gap: 2.5rem;
    margin: 50px 45px;

}
.service_container .box_service {
    padding: 7px;
    border-radius: 1rem;
    box-shadow: 1px 4px 41px rgba(0, 0, 0, 0.1);
    background:#000000;
}
.service_container .box_service .box_service_img {
    width: 100%;
    height: 200px;
}
.service_container .box_service .box_service_img img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
    object-position: center;
}
.service_container .box_service h4 {
    font-weight: 500;
    text-align: center;
    padding-top: 20px;
    color: #fff;
}
.service_container .box_service h3 {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0.2rem 0 0.5rem;
    color: rgb(255, 204, 2);
    text-align: center;
}
.service_container .box_service h3 span {
    font-size: 0.7rem;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
}
.service_container .box_service .btn_service {
    display: flex;
    justify-content: center;
    background: rgb(255, 204, 2);
    color: #14101b;
    padding: 10px;
    border-radius: 0.5rem;
}
.service_container .box_service .btn_service:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    font-weight: bold;
}

/* ---------- Voitures de luxe ---------- */

.services {
    text-align: center;
    padding-top: 175px;
}
.tops h2 {
    font-size: 2rem;
}
.tops p {
    font-weight: 500;
    text-transform: uppercase;
}
.service_containers {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,auto));
    gap: 4rem;
    margin: 50px 45px;
}
.service_containers .box_services {
    padding: 10px;
    border-radius: 1rem;
    background:#000000;
}
.service_containers .box_services .box_service_imgs {
    width: 100%;
    height: 200px;
}
.service_containers .box_services .box_service_imgs img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
    object-position: center;
}
.service_containers .box_services h4 {
    font-weight: 500;
    text-align: center;
    padding-top: 20px;
    color: #fff;
}
.service_containers .box_services h3 {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0.2rem 0 0.5rem;
    color: rgb(255, 204, 2);
    text-align: center;
}
.service_containers .box_services h3 span {
    font-size: 0.7rem;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
}
.service_containers .box_services .btn_services {
    display: flex;
    justify-content: center;
    background: rgb(255, 204, 2);
    color: #14101b;
    padding: 10px;
    border-radius: 0.5rem;
}
.service_containers .box_services .btn_services:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    font-weight: bold;
}

/* ---------- Page Contact ---------- */
/* ---------- Service client ---------- */

.sup_client {
    margin-top: 120px;
}
.sup_client h2 {
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}
.sup_client h4 {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}
.sup_client p {
    margin-top: 60px;
    text-align: center;
}

/* ---------- Formulaire de contact ---------- */

.contact {
    background-color: rgb(33, 27, 39);
    padding: 85px 0;
}
.contact_formulaire {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 15px;
}
.hidden {
    display: none;
}
.contact_formulaire h3 {
    font-size: 2rem;
    color: rgb(33, 27, 39);
    margin-top: 45px;
}
.contact_formulaire form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 600px;
    margin-top: 30px;
}
.contact_formulaire form input {
    width: 47%;

}
.contact_formulaire form input,
.contact_formulaire form textarea {
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(199, 162, 4);
    transition: 0.2s;
}
.contact_formulaire form textarea {
    width: 100%;
    resize: none;
    height: 100px;
    margin-bottom: 35px;
    font-family: 'Poppins', sans-serif;
}

.contact_formulaire form .btn_contact {
    width: 192px;
    height: 50px;
    border-radius: 8px;
    border: none;
    background-color: rgb(199, 162, 4);
    color: rgb(33, 27, 39);
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
    outline: none;
    margin: 0 auto 25px auto;
}

/* ---------- Footer Contact ---------- */

.footer_c {
    background-color: #000000;
    text-align: center;
    padding: 20px 0;
}
.footer_c h2 {
    text-align: center;
}
.footerlink_c {
    display: inline-block;
    padding: 0;
    margin: 0;
}
.footerlink_c .link  {
    display: inline-block;
    margin: 20px 10px;
}
.footerlink_c .link a {
    text-align: center;
    text-decoration: none;
    color: rgb(199, 162, 4);
}
.footer_c p{
    text-align: center;
    margin-top: 20px;
}

/* ---------- Page Connexion ---------- */
/* ---------- Login ---------- */

.connexion {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
.imgConnexion {
    position: absolute;
    width: 100%;
    height: 100%;
}
.imgConnexion img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.connexion_container {
    position: relative;
    z-index: 1;
    background-color: rgba(20, 16, 27, 0.8);
    padding: 50px;
    border-radius: 10px;
    box-shadow: -20px 20px 10px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
}
.connexion_container h2 {
    color: rgb(255, 204, 0);
    margin-bottom: 20px;
}
.input-boxs {
    margin-bottom: 20px;
}
.input-boxs label {
    display: block;
    margin-bottom: 5px;
    color: antiquewhite;
}
.input-boxs input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: rgb(31, 25, 31);
    color: white;
    font-size: 1rem;
}
.btn_connexion {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: rgb(255, 204, 0);
    color: #000000;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}
.btn_connexion:hover {
    background: rgb(199, 162, 4);
}

.footer_co {
    background-color: #000000;
    text-align: center;
    padding: 20px 0;
}
.footer_co h2 {
    text-align: center;
}
.footerlink_co {
    display: inline-block;
    padding: 0;
    margin: 0;
}
.footerlink_co .link  {
    display: inline-block;
    margin: 20px 10px;
}
.footerlink_co .link a {
    text-align: center;
    text-decoration: none;
    color: rgb(199, 162, 4);
}
.footer_co p{
    text-align: center;
    margin-top: 20px;
}
/* ---------- Responsive ---------- */

@media screen and (max-width: 1150px) {
    .contact_formulaire {
        width: 900px;
    }
    .service_containers .box_services p {
        width: 12%;
    }
}
@media screen and (max-width: 1050px) {
    .contact_formulaire {
        width: 700px;
    }
    .navbarlink {
        display: none;
    }
    .checkbtn {
        display: block;
    }
    .video video {
        height: 400px;
    }
    .service_containers .box_services p {
        width: 13%;
    }
}
@media screen and (max-width: 990px) {
    .service_containers .box_services p {
        width: 15%;
    }
}
@media screen and (max-width: 900px) {
    .service_containers .box_services p {
        width: 17%;
    }
}
@media screen and (max-width: 800px) {
    .contact_formulaire {
        width: 500px;
    }
    .video video {
        height: 300px;
    }
    .service_containers .box_services p {
        width: 19%;
    }
}
@media screen and (max-width: 600px) {
    .contact_formulaire {
        width: 300px;
    }
    .video video {
        height: 220px;
    }
}
@media screen and (max-width: 450px) {
    h1 {
        z-index: 1;
        bottom: 0;
        position: absolute;
        font-size: 2.5rem;
        letter-spacing: 2px;
        color: rgb(255, 255, 255);
        padding-bottom: 50px;
        text-align: center;
    }
    h1>span {
        color: rgb(255, 204, 0);
        font-size: 2.5rem;
    }
    .contact_formulaire {
        width: 150px;
    }
    .video video {
        height: 150px;
    }
}
