@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap') ;

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: 'Poppins', sans-serif;
    color: antiquewhite;
    background: rgb(33, 27, 39);
}

/* ---------- Navbar ---------- */

nav
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    background: linear-gradient(to top, transparent, #000);
    backdrop-filter: blur(5px);
}
.navbarLogo
{
    font-weight: 600;
    text-decoration: none;
    font-size: 2rem;
}
.navbarLogo a
{
    color: #fff;
}
.navbarlink
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}
.link
{
    list-style: none;
}
.link a
{
    text-decoration: none;
    padding: 6px 15px;
    color: rgb(255, 255, 255);
    border-radius: 20px;
}
.link a:hover
{
    background: rgb(31, 25, 31);
    color: rgb(199, 162, 4);
    transition: 0.3s ease-in-out;
    backdrop-filter: blur(5px);
}

/* ---------- Présentation ---------- */

.presentation
{
    position: relative;
    background-color: #14101b;
    display: flex;
    justify-content: center;
}
.illustration
{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.imgHeader
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    position: absolute;

}
h1 {
    z-index: 1;
    bottom: 0;
    position: absolute;
    font-size: 3.5rem;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    padding-bottom: 50px;
    text-align: center;
}

h1>span {
    color: rgb(255, 204, 0);
    font-size: 3.5rem;
}
.container_reservation form {
    display: grid;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background: linear-gradient(to top, rgb(33, 27, 39), #000000, rgb(33, 27, 39));
    height: 50%;
    padding: 100px;
}
.input-box
{
    flex: 1 1 7rem;
    display: flex;
    flex-direction: column;
}

.container_reservation .btn_reservation
{
    flex: 1 1 7rem;
    padding: 10px 35px;
    border: none;
    border-radius: 3.5rem;
    background: rgb(255, 204, 0);
    color: #000000;
    font-size: 1rem;
    font-weight: 500;
}

/* ---------- A propos de nous ---------- */

.easy_step {
    background: rgb(33, 27, 39);
}
.tree_easy_steps {
    text-align: center;
    padding-top: 75px;
}
.tree_easy_steps p {
    font-weight: 500;
    text-transform: uppercase;
}
.tree_easy_steps h2 {
    font-size: 2rem;
}
.easy_container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px,auto));
    gap: 1rem;
    margin-top: 3rem;
}
.box {
    text-align: center;
    padding: 50px;
}
.img_box {
    height: 100px;
    background: transparent;
    border-radius: 0.5rem;
    margin-bottom: 18px;
}
.img_box:hover {
    transform: scale(1.35);
    transition: transform 0.3s ease-in-out;
}

/* ---------- Types de location ---------- */

.type {
    background: rgb(33, 27, 39);
    padding-top: 75px;
}
.top_type h2 {
    font-size: 2rem;
    text-align: center;
}
.type_conteneur {
    display: flex;
    flex-wrap: wrap;
    gap: 10rem;
    margin: 2rem 6rem;
    padding-top: 3rem;
}
.type_conteneur .box_type {
    flex: 1 1 2rem;
    position: relative;
    height: 350px;
    border-radius: 0.8rem;
    overflow: hidden;
}
.type_conteneur .box_type img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
.type_conteneur .box_type img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}
.type_conteneur .box_type h3 {
    position: absolute;
    left: 14rem;
    bottom: 1rem;
    font-weight: 500;
    color: #000000;
    font-size: 1rem;
    background: rgb(199, 162, 4);
    padding: 5px;
    border-radius: 0.5rem;
}
.type_conteneur .box_type .btn_c {
    display: flex;
    justify-content: center;
}
.type_conteneur .box_type .btn_vdl {
    display: flex;
    justify-content: center;
}

/* ---------- Avis clients ---------- */

.avis {
    background: linear-gradient(to top, #000000, rgb(33, 27, 39));
}
.top_avis {
    text-align: center;
    padding-top: 100px;
}
.top_avis h2 {
    font-size: 2rem;
    text-align: center;
}
.avis_conteneur {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 1rem;
    margin-top: 75px;
    text-align: center;
}
.box_avis {
    justify-content: center;
    margin-left: 55px;
    margin-right: 40px;
}
.box_avis img {
    width: 40%;
    height: 50%;
    border-radius: 15%;
    align-content: center;
    color: white;
    margin-bottom: 25px;
}
.box_avis p {
    margin-top: 15px;
}

/* ---------- Vidéo ---------- */

.video {
    padding-top: 85px;
    text-align: center;
    background-color: #000000;
}
.video_presentation h2 {
    font-size: 2rem;
    color: rgb(199, 162, 4);
}

.video video {
    align-content: center;
    height: 500px;
    margin-top: 75px;
}












.service {
    text-align: center;
    padding-top: 75px;
    background: rgb(33, 27, 39);
}
.top h2 {
    font-size: 2rem;
}
.top p {
    font-weight: 500;
    text-transform: uppercase;
}
.service_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,auto));
    gap: 2.5rem;
    margin: 100px 50px 20px;
}
.service_container .box_service {
    padding: 7px;
    border-radius: 1rem;
    box-shadow: 1px 4px 41px rgba(0, 0, 0, 0.1);
    background:#000000;
}
.service_container .box_service .box_service_img {
    width: 100%;
    height: 200px;
}
.service_container .box_service .box_service_img img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    /* object-fit: cover; */
    object-position: center;
}
.service_container .box_service p {
    padding: 0 5px;
    border: 1px solid;
    width: 18%;
    border-radius: 0.5rem;
    margin: 1rem 0 1rem;
    color: rgb(255, 204, 2);
}
.service_container .box_service h4 {
    font-weight: 500;
}
.service_container .box_service h3 {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0.2rem 0 0.5rem;
    color: rgb(255, 204, 2);
}
.service_container .box_service h3 span {
    font-size: 0.7rem;
    font-weight: 500;
    color: #ffffff;
}
.service_container .box_service .btn_service {
    display: flex;
    justify-content: center;
    background: rgb(255, 204, 2);
    color: #14101b;
    padding: 10px;
    border-radius: 0.5rem;
}
.service_container .box_service .btn_service:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}
